body {
    scrollbar-width: none;
    overflow-y: scroll;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
   
}
nav {
    height: 5rem;
    background-color: #3EBFFF;
    
}
h1 {
    font-family: 'Barlow',sans-serif;
    color:white;
    margin-left: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.inline {
    display: inline-flex;
}
#burger {
   margin-top: 1.7rem;
   
   position: absolute;
   right: 25px;
   
   cursor: pointer;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-bottom: 25px solid white;
    position: relative;
    float: right;
    top: 6rem;
    right: 3.1rem;
    
}
.menu {
    background-color: white;
    width: 20rem;
    height: 20rem;
    margin: auto;
    float: right;
    position: absolute;
    top: 4rem;
    right: 3.1rem;
    
}

#active {
   margin-top: -7.5rem;
   display: none;
   
   
     
}
ul {
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction:column;
    gap: 15px;
    padding: 50px 0;
    font-style: bold;
    font-size: 1.5rem;
    text-align: center;
    width: 8rem;
    
}
.list{
    height: 3rem;
    
}

.list:hover {
    background-color: orange;
    border-radius: 15px;
    text-decoration: underline;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
   
    
    
}

.sectionone {
    background-image: url("header.jpg");
    padding-bottom: 18.5rem;
    padding-top: 18.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    
}
h2 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: -2rem;
    
}

#arrow {
    display: flex;
    margin: auto;   
} 

.sectiontwo {
    display: grid;
    grid-template-columns: 50% 50%;
}
.twotext {
    display: flex;
    opacity: 0.7;   
    flex-direction: column; 
    text-align: center;
    margin-top: 20%;
    
}
a {
    color: black;
    text-decoration: none;
}

h3 {
    
    font-size: 2.5rem;
    
    font-weight: 800;
}
p   {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    
    
}
.yellow {
 
    padding-bottom: 2rem;
    font-size:1.2rem;
    font-weight: 700;
    text-decoration: underline 5px yellow ;
    
}
.sectionthree {
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 100% 100%;
   

}

.textthree {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20%;
}
.red {
    padding-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: underline 5px red;
}
.sectionfour {
    margin-top: -1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
}
.cherry {
    background-image: url("../img/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:center;
    padding-top: 27rem;
    text-align: center;
    
    
}
.orange {
    background-image: url("../img/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding-top: 27rem;
    text-align: center;
    
       
}
h4 {
    font-size: 2rem;
    opacity: 0.7;
}
p {
    font-size: 1.3rem;
    opacity: 0.5;
    font-family: 'Barlow',sans-serif;
}
h5 {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.3rem;
    color: grey;
    letter-spacing: 2px;
 

}
.staff {
    margin-top:1rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    
    
   
   
}
.descrip-staff {
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
}
.boxstaff {
    display: flex;
    flex-direction: column;
  
    
    
}
.worker {
    
    margin: auto;
}
h6 {
    text-align: center;
    margin-top:-2rem;
    font-size: 1rem;

}
.ph6 {
    font-size: 15px;
    margin-top: -2rem;
    text-align: center;
    
}
.sectionsix {
    display: flex;
}
.gallery {
    width: 50%;
    height: 50%;
}
footer {
    background-color:  hsl(168, 46%, 61%);
    
}
#hfooter {
    color: black;
    opacity: 0.5;
    font-size: 35px;
    margin-top: 5rem;
    text-align: center;

}
.fmenu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15%;
    font-family: 'Barlow',sans-serif;
    opacity: 0.4;
    font-size: 20px;
    padding-top: 1rem;
    cursor: pointer;
   
}
.sociallinks {
    display: flex;
    justify-content: center;
    gap: 9%;
    margin-top: 5rem;
    padding-bottom: 5rem;
}
.social:hover {
    cursor: pointer;
}

       
    @media only screen and (max-width: 600px){
    
       
        .info {
            
        }
        .sectiontwo {
           display: flex;
           flex-direction: column;
            margin-top: -6rem;
           
        }
        .egg {
            margin-top: 2rem;
        }
        .span {
            text-align: center;
        }
        .sectionthree {
            display: flex;
            flex-direction: column-reverse;
           
        }
        .textthree {
            margin-top: 0.5rem;
        }
        .sectionfour {
            display: flex;
            flex-direction: column;
        }
        .staff {
            display: flex;
            flex-direction: column;
           
        }
        .boxstaff {
            display: flex;
            text-align: center;
        }
        .sectionsix {
            display: flex;
            flex-flow:wrap;
           
            
        }
        .gallery {
            
        }

            
}
            
            
        }
    }
   

